<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.AccessstatisticsMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Accessstatistics">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="VisitID" jdbcType="VARCHAR" property="visitid" />
    <result column="productType" jdbcType="INTEGER" property="producttype" />
    <result column="ggy" jdbcType="VARCHAR" property="ggy" />
    <result column="ClickType" jdbcType="VARCHAR" property="clicktype" />
    <result column="VisitCount" jdbcType="BIGINT" property="visitcount" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="ChannelId" jdbcType="VARCHAR" property="channelid" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Accessstatistics">
    insert into accessstatistics (ID, VisitID, productType, 
      ggy, ClickType, VisitCount, 
      URL, addTime, ChannelId
      )
    values (#{id,jdbcType=BIGINT}, #{visitid,jdbcType=VARCHAR}, #{producttype,jdbcType=INTEGER}, 
      #{ggy,jdbcType=VARCHAR}, #{clicktype,jdbcType=VARCHAR}, #{visitcount,jdbcType=BIGINT}, 
      #{url,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{channelid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Accessstatistics">
    insert into accessstatistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="visitid != null">
        VisitID,
      </if>
      <if test="producttype != null">
        productType,
      </if>
      <if test="ggy != null">
        ggy,
      </if>
      <if test="clicktype != null">
        ClickType,
      </if>
      <if test="visitcount != null">
        VisitCount,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="channelid != null">
        ChannelId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="visitid != null">
        #{visitid,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null">
        #{producttype,jdbcType=INTEGER},
      </if>
      <if test="ggy != null">
        #{ggy,jdbcType=VARCHAR},
      </if>
      <if test="clicktype != null">
        #{clicktype,jdbcType=VARCHAR},
      </if>
      <if test="visitcount != null">
        #{visitcount,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelid != null">
        #{channelid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>