<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.AllstockMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Allstock">
    <result column="f1" jdbcType="VARCHAR" property="f1" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Allstock">
    insert into allstock (f1)
    values (#{f1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Allstock">
    insert into allstock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="f1 != null">
        f1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="f1 != null">
        #{f1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>