<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Android_index_tgMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Android_index_tg">
    <result column="relationId" jdbcType="INTEGER" property="relationid" />
    <result column="modalId" jdbcType="INTEGER" property="modalid" />
    <result column="tgid" jdbcType="INTEGER" property="tgid" />
    <result column="xh" jdbcType="INTEGER" property="xh" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="addUser" jdbcType="VARCHAR" property="adduser" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Android_index_tg">
    insert into android_index_tg (relationId, modalId, tgid, 
      xh, flag, addUser, 
      addTime)
    values (#{relationid,jdbcType=INTEGER}, #{modalid,jdbcType=INTEGER}, #{tgid,jdbcType=INTEGER}, 
      #{xh,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{adduser,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Android_index_tg">
    insert into android_index_tg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationid != null">
        relationId,
      </if>
      <if test="modalid != null">
        modalId,
      </if>
      <if test="tgid != null">
        tgid,
      </if>
      <if test="xh != null">
        xh,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="adduser != null">
        addUser,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationid != null">
        #{relationid,jdbcType=INTEGER},
      </if>
      <if test="modalid != null">
        #{modalid,jdbcType=INTEGER},
      </if>
      <if test="tgid != null">
        #{tgid,jdbcType=INTEGER},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="adduser != null">
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>