<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.CaigourkMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Caigourk">
    <result column="productid" jdbcType="VARCHAR" property="productid" />
    <result column="prodcolor" jdbcType="VARCHAR" property="prodcolor" />
    <result column="shuliang" jdbcType="DOUBLE" property="shuliang" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Caigourk">
    insert into caigourk (productid, prodcolor, shuliang
      )
    values (#{productid,jdbcType=VARCHAR}, #{prodcolor,jdbcType=VARCHAR}, #{shuliang,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Caigourk">
    insert into caigourk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productid,
      </if>
      <if test="prodcolor != null">
        prodcolor,
      </if>
      <if test="shuliang != null">
        shuliang,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="prodcolor != null">
        #{prodcolor,jdbcType=VARCHAR},
      </if>
      <if test="shuliang != null">
        #{shuliang,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>