<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.CalllinetableMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Calllinetable">
    <result column="channelid" jdbcType="VARCHAR" property="channelid" />
    <result column="accesstime" jdbcType="TIMESTAMP" property="accesstime" />
    <result column="call_line_id" jdbcType="VARCHAR" property="callLineId" />
    <result column="PV" jdbcType="INTEGER" property="pv" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Calllinetable">
    insert into calllinetable (channelid, accesstime, call_line_id, 
      PV)
    values (#{channelid,jdbcType=VARCHAR}, #{accesstime,jdbcType=TIMESTAMP}, #{callLineId,jdbcType=VARCHAR}, 
      #{pv,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Calllinetable">
    insert into calllinetable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelid != null">
        channelid,
      </if>
      <if test="accesstime != null">
        accesstime,
      </if>
      <if test="callLineId != null">
        call_line_id,
      </if>
      <if test="pv != null">
        PV,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelid != null">
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="accesstime != null">
        #{accesstime,jdbcType=TIMESTAMP},
      </if>
      <if test="callLineId != null">
        #{callLineId,jdbcType=VARCHAR},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>