<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.ClientreportMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Clientreport">
    <result column="flowid" jdbcType="DOUBLE" property="flowid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="addDate" jdbcType="TIMESTAMP" property="adddate" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Clientreport">
    insert into clientreport (flowid, username, content, 
      addDate, contact)
    values (#{flowid,jdbcType=DOUBLE}, #{username,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{adddate,jdbcType=TIMESTAMP}, #{contact,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Clientreport">
    insert into clientreport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="adddate != null">
        addDate,
      </if>
      <if test="contact != null">
        contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=DOUBLE},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="adddate != null">
        #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>