<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Communitys_replyMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Communitys_reply">
    <result column="flowid" jdbcType="BIGINT" property="flowid" />
    <result column="moderators_id" jdbcType="INTEGER" property="moderatorsId" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="postid" jdbcType="INTEGER" property="postid" />
    <result column="customerid" jdbcType="INTEGER" property="customerid" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="islock" jdbcType="INTEGER" property="islock" />
    <result column="isgood" jdbcType="INTEGER" property="isgood" />
    <result column="isread" jdbcType="INTEGER" property="isread" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="adddate" jdbcType="TIMESTAMP" property="adddate" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Communitys_reply">
    insert into communitys_reply (flowid, moderators_id, community_id, 
      postid, customerid, reply, 
      province, city, islock, 
      isgood, isread, ip, 
      addtime, adddate)
    values (#{flowid,jdbcType=BIGINT}, #{moderatorsId,jdbcType=INTEGER}, #{communityId,jdbcType=INTEGER}, 
      #{postid,jdbcType=INTEGER}, #{customerid,jdbcType=INTEGER}, #{reply,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{islock,jdbcType=INTEGER}, 
      #{isgood,jdbcType=INTEGER}, #{isread,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{adddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Communitys_reply">
    insert into communitys_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="moderatorsId != null">
        moderators_id,
      </if>
      <if test="communityId != null">
        community_id,
      </if>
      <if test="postid != null">
        postid,
      </if>
      <if test="customerid != null">
        customerid,
      </if>
      <if test="reply != null">
        reply,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="islock != null">
        islock,
      </if>
      <if test="isgood != null">
        isgood,
      </if>
      <if test="isread != null">
        isread,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="adddate != null">
        adddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="moderatorsId != null">
        #{moderatorsId,jdbcType=INTEGER},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="postid != null">
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="islock != null">
        #{islock,jdbcType=INTEGER},
      </if>
      <if test="isgood != null">
        #{isgood,jdbcType=INTEGER},
      </if>
      <if test="isread != null">
        #{isread,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adddate != null">
        #{adddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>