<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Cpsad_channel_relationMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Cpsad_channel_relation">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="ChannelID" jdbcType="VARCHAR" property="channelid" />
    <result column="AdvertisementID" jdbcType="VARCHAR" property="advertisementid" />
    <result column="pvPrice" jdbcType="DOUBLE" property="pvprice" />
    <result column="pvPrice_real" jdbcType="DOUBLE" property="pvpriceReal" />
    <result column="pay" jdbcType="DOUBLE" property="pay" />
    <result column="pay_real" jdbcType="DOUBLE" property="payReal" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Cpsad_channel_relation">
    insert into cpsad_channel_relation (ID, ChannelID, AdvertisementID, 
      pvPrice, pvPrice_real, pay, 
      pay_real, AddTime)
    values (#{id,jdbcType=INTEGER}, #{channelid,jdbcType=VARCHAR}, #{advertisementid,jdbcType=VARCHAR}, 
      #{pvprice,jdbcType=DOUBLE}, #{pvpriceReal,jdbcType=DOUBLE}, #{pay,jdbcType=DOUBLE}, 
      #{payReal,jdbcType=DOUBLE}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Cpsad_channel_relation">
    insert into cpsad_channel_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="channelid != null">
        ChannelID,
      </if>
      <if test="advertisementid != null">
        AdvertisementID,
      </if>
      <if test="pvprice != null">
        pvPrice,
      </if>
      <if test="pvpriceReal != null">
        pvPrice_real,
      </if>
      <if test="pay != null">
        pay,
      </if>
      <if test="payReal != null">
        pay_real,
      </if>
      <if test="addtime != null">
        AddTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channelid != null">
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="advertisementid != null">
        #{advertisementid,jdbcType=VARCHAR},
      </if>
      <if test="pvprice != null">
        #{pvprice,jdbcType=DOUBLE},
      </if>
      <if test="pvpriceReal != null">
        #{pvpriceReal,jdbcType=DOUBLE},
      </if>
      <if test="pay != null">
        #{pay,jdbcType=DOUBLE},
      </if>
      <if test="payReal != null">
        #{payReal,jdbcType=DOUBLE},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>