<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.CustomadssmsMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Customadssms">
    <result column="FlowID" jdbcType="BIGINT" property="flowid" />
    <result column="CustomerID" jdbcType="INTEGER" property="customerid" />
    <result column="Mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="SmsContent" jdbcType="VARCHAR" property="smscontent" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Customadssms">
    insert into customadssms (FlowID, CustomerID, Mobile, 
      SmsContent, AddTime)
    values (#{flowid,jdbcType=BIGINT}, #{customerid,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, 
      #{smscontent,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Customadssms">
    insert into customadssms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        FlowID,
      </if>
      <if test="customerid != null">
        CustomerID,
      </if>
      <if test="mobile != null">
        Mobile,
      </if>
      <if test="smscontent != null">
        SmsContent,
      </if>
      <if test="addtime != null">
        AddTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="smscontent != null">
        #{smscontent,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>