<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Ems_remote_contentMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Ems_remote_content">
    <result column="sheng" jdbcType="VARCHAR" property="sheng" />
    <result column="shi" jdbcType="VARCHAR" property="shi" />
    <result column="xian" jdbcType="VARCHAR" property="xian" />
    <result column="city_num" jdbcType="INTEGER" property="cityNum" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Ems_remote_content">
    insert into ems_remote_content (sheng, shi, xian, 
      city_num)
    values (#{sheng,jdbcType=VARCHAR}, #{shi,jdbcType=VARCHAR}, #{xian,jdbcType=VARCHAR}, 
      #{cityNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Ems_remote_content">
    insert into ems_remote_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sheng != null">
        sheng,
      </if>
      <if test="shi != null">
        shi,
      </if>
      <if test="xian != null">
        xian,
      </if>
      <if test="cityNum != null">
        city_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sheng != null">
        #{sheng,jdbcType=VARCHAR},
      </if>
      <if test="shi != null">
        #{shi,jdbcType=VARCHAR},
      </if>
      <if test="xian != null">
        #{xian,jdbcType=VARCHAR},
      </if>
      <if test="cityNum != null">
        #{cityNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>