<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.FaqcontentMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Faqcontent">
    <result column="contentID" jdbcType="INTEGER" property="contentid" />
    <result column="moduleID" jdbcType="INTEGER" property="moduleid" />
    <result column="contentTitle" jdbcType="VARCHAR" property="contenttitle" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="addUser" jdbcType="VARCHAR" property="adduser" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Faqcontent">
    insert into faqcontent (contentID, moduleID, contentTitle, 
      Content, sort, addUser, 
      addTime, updateUser, updateTime, 
      flag)
    values (#{contentid,jdbcType=INTEGER}, #{moduleid,jdbcType=INTEGER}, #{contenttitle,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{adduser,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Faqcontent">
    insert into faqcontent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contentid != null">
        contentID,
      </if>
      <if test="moduleid != null">
        moduleID,
      </if>
      <if test="contenttitle != null">
        contentTitle,
      </if>
      <if test="content != null">
        Content,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="adduser != null">
        addUser,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contentid != null">
        #{contentid,jdbcType=INTEGER},
      </if>
      <if test="moduleid != null">
        #{moduleid,jdbcType=INTEGER},
      </if>
      <if test="contenttitle != null">
        #{contenttitle,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="adduser != null">
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>