<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Formclass_ndMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Formclass_nd">
    <result column="flowid" jdbcType="INTEGER" property="flowid" />
    <result column="classid" jdbcType="INTEGER" property="classid" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="saveastable" jdbcType="VARCHAR" property="saveastable" />
    <result column="islog" jdbcType="INTEGER" property="islog" />
    <result column="ispingjia" jdbcType="INTEGER" property="ispingjia" />
    <result column="isreply" jdbcType="INTEGER" property="isreply" />
    <result column="iszixun" jdbcType="INTEGER" property="iszixun" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="bzdesc" jdbcType="VARCHAR" property="bzdesc" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="xh" jdbcType="INTEGER" property="xh" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Formclass_nd">
    insert into formclass_nd (flowid, classid, typeid, 
      classname, saveastable, islog, 
      ispingjia, isreply, iszixun, 
      addtime, bzdesc, flag, 
      xh)
    values (#{flowid,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}, 
      #{classname,jdbcType=VARCHAR}, #{saveastable,jdbcType=VARCHAR}, #{islog,jdbcType=INTEGER}, 
      #{ispingjia,jdbcType=INTEGER}, #{isreply,jdbcType=INTEGER}, #{iszixun,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{bzdesc,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{xh,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Formclass_nd">
    insert into formclass_nd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="saveastable != null">
        saveastable,
      </if>
      <if test="islog != null">
        islog,
      </if>
      <if test="ispingjia != null">
        ispingjia,
      </if>
      <if test="isreply != null">
        isreply,
      </if>
      <if test="iszixun != null">
        iszixun,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="bzdesc != null">
        bzdesc,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="xh != null">
        xh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=INTEGER},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="saveastable != null">
        #{saveastable,jdbcType=VARCHAR},
      </if>
      <if test="islog != null">
        #{islog,jdbcType=INTEGER},
      </if>
      <if test="ispingjia != null">
        #{ispingjia,jdbcType=INTEGER},
      </if>
      <if test="isreply != null">
        #{isreply,jdbcType=INTEGER},
      </if>
      <if test="iszixun != null">
        #{iszixun,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bzdesc != null">
        #{bzdesc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>