<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Hei_customerMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Hei_customer">
    <result column="flowid" jdbcType="BIGINT" property="flowid" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Hei_customer">
    insert into hei_customer (flowid, mobile, flag
      )
    values (#{flowid,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Hei_customer">
    insert into hei_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>