<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.HqbMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Hqb">
    <result column="Col001" jdbcType="CHAR" property="col001" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Hqb">
    insert into hqb (Col001)
    values (#{col001,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Hqb">
    insert into hqb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="col001 != null">
        Col001,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="col001 != null">
        #{col001,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>