<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Member_integralMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Member_integral">
    <result column="CustomerID" jdbcType="BIGINT" property="customerid" />
    <result column="Project" jdbcType="INTEGER" property="project" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="Mark" jdbcType="INTEGER" property="mark" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Member_integral">
    insert into member_integral (CustomerID, Project, type, 
      Mark, remark, addtime
      )
    values (#{customerid,jdbcType=BIGINT}, #{project,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{mark,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Member_integral">
    insert into member_integral
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        CustomerID,
      </if>
      <if test="project != null">
        Project,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="mark != null">
        Mark,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        #{customerid,jdbcType=BIGINT},
      </if>
      <if test="project != null">
        #{project,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>