<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Mobile_check_logMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Mobile_check_log">
    <result column="logid" jdbcType="BIGINT" property="logid" />
    <result column="customerid" jdbcType="INTEGER" property="customerid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="expireDate" jdbcType="TIMESTAMP" property="expiredate" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="md5code" jdbcType="VARCHAR" property="md5code" />
    <result column="getTimes" jdbcType="INTEGER" property="gettimes" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="logType" jdbcType="INTEGER" property="logtype" />
    <result column="verify" jdbcType="VARCHAR" property="verify" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Mobile_check_log">
    insert into mobile_check_log (logid, customerid, addtime, 
      expireDate, mobile, code, 
      md5code, getTimes, flag, 
      logType, verify)
    values (#{logid,jdbcType=BIGINT}, #{customerid,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, 
      #{expiredate,jdbcType=TIMESTAMP}, #{mobile,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{md5code,jdbcType=VARCHAR}, #{gettimes,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, 
      #{logtype,jdbcType=INTEGER}, #{verify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Mobile_check_log">
    insert into mobile_check_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logid != null">
        logid,
      </if>
      <if test="customerid != null">
        customerid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="expiredate != null">
        expireDate,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="md5code != null">
        md5code,
      </if>
      <if test="gettimes != null">
        getTimes,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="logtype != null">
        logType,
      </if>
      <if test="verify != null">
        verify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logid != null">
        #{logid,jdbcType=BIGINT},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredate != null">
        #{expiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="md5code != null">
        #{md5code,jdbcType=VARCHAR},
      </if>
      <if test="gettimes != null">
        #{gettimes,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="logtype != null">
        #{logtype,jdbcType=INTEGER},
      </if>
      <if test="verify != null">
        #{verify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>