<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Ontime_interfaceMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Ontime_interface">
    <result column="flowid" jdbcType="BIGINT" property="flowid" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="backvalue" jdbcType="VARCHAR" property="backvalue" />
    <result column="waptype" jdbcType="VARCHAR" property="waptype" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Ontime_interface">
    insert into ontime_interface (flowid, orderid, url, 
      addtime, backvalue, waptype
      )
    values (#{flowid,jdbcType=BIGINT}, #{orderid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{backvalue,jdbcType=VARCHAR}, #{waptype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Ontime_interface">
    insert into ontime_interface
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="backvalue != null">
        backvalue,
      </if>
      <if test="waptype != null">
        waptype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="backvalue != null">
        #{backvalue,jdbcType=VARCHAR},
      </if>
      <if test="waptype != null">
        #{waptype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>