<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.OrderdescMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Orderdesc">
    <result column="flowid" jdbcType="INTEGER" property="flowid" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Orderdesc">
    insert into orderdesc (flowid, orderid, operator, 
      desc, addTime)
    values (#{flowid,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Orderdesc">
    insert into orderdesc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>