<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Order_shopcat_gxMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Order_shopcat_gx">
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="md5name" jdbcType="VARCHAR" property="md5name" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Order_shopcat_gx">
    insert into order_shopcat_gx (orderid, md5name, addtime
      )
    values (#{orderid,jdbcType=VARCHAR}, #{md5name,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Order_shopcat_gx">
    insert into order_shopcat_gx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderid,
      </if>
      <if test="md5name != null">
        md5name,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="md5name != null">
        #{md5name,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>