<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Password_logMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Password_log">
    <result column="flowid" jdbcType="BIGINT" property="flowid" />
    <result column="customerid" jdbcType="VARCHAR" property="customerid" />
    <result column="enterpassword" jdbcType="VARCHAR" property="enterpassword" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Password_log">
    insert into password_log (flowid, customerid, enterpassword, 
      password, addtime)
    values (#{flowid,jdbcType=BIGINT}, #{customerid,jdbcType=VARCHAR}, #{enterpassword,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Password_log">
    insert into password_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="customerid != null">
        customerid,
      </if>
      <if test="enterpassword != null">
        enterpassword,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="enterpassword != null">
        #{enterpassword,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>