<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Phototable_threeimportbackupMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Phototable_threeimportbackup">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="addor" jdbcType="VARCHAR" property="addor" />
    <result column="SerialNumber" jdbcType="INTEGER" property="serialnumber" />
    <result column="EnableFlag" jdbcType="TINYINT" property="enableflag" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Phototable_threeimportbackup">
    insert into phototable_threeimportbackup (id, pid, type, 
      photo, addtime, addor, 
      SerialNumber, EnableFlag)
    values (#{id,jdbcType=BIGINT}, #{pid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{photo,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{addor,jdbcType=VARCHAR}, 
      #{serialnumber,jdbcType=INTEGER}, #{enableflag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Phototable_threeimportbackup">
    insert into phototable_threeimportbackup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="addor != null">
        addor,
      </if>
      <if test="serialnumber != null">
        SerialNumber,
      </if>
      <if test="enableflag != null">
        EnableFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addor != null">
        #{addor,jdbcType=VARCHAR},
      </if>
      <if test="serialnumber != null">
        #{serialnumber,jdbcType=INTEGER},
      </if>
      <if test="enableflag != null">
        #{enableflag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>