<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.PpMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Pp">
    <result column="productid" jdbcType="VARCHAR" property="productid" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Pp">
    insert into pp (productid)
    values (#{productid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Pp">
    insert into pp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>