<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Productid_configMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Productid_config">
    <result column="bigtype" jdbcType="VARCHAR" property="bigtype" />
    <result column="smalltype" jdbcType="VARCHAR" property="smalltype" />
    <result column="startIndex" jdbcType="DOUBLE" property="startindex" />
    <result column="smallid" jdbcType="VARCHAR" property="smallid" />
    <result column="subclassid" jdbcType="VARCHAR" property="subclassid" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="bigid" jdbcType="VARCHAR" property="bigid" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Productid_config">
    insert into productid_config (bigtype, smalltype, startIndex, 
      smallid, subclassid, id, 
      bigid)
    values (#{bigtype,jdbcType=VARCHAR}, #{smalltype,jdbcType=VARCHAR}, #{startindex,jdbcType=DOUBLE}, 
      #{smallid,jdbcType=VARCHAR}, #{subclassid,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, 
      #{bigid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Productid_config">
    insert into productid_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bigtype != null">
        bigtype,
      </if>
      <if test="smalltype != null">
        smalltype,
      </if>
      <if test="startindex != null">
        startIndex,
      </if>
      <if test="smallid != null">
        smallid,
      </if>
      <if test="subclassid != null">
        subclassid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="bigid != null">
        bigid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bigtype != null">
        #{bigtype,jdbcType=VARCHAR},
      </if>
      <if test="smalltype != null">
        #{smalltype,jdbcType=VARCHAR},
      </if>
      <if test="startindex != null">
        #{startindex,jdbcType=DOUBLE},
      </if>
      <if test="smallid != null">
        #{smallid,jdbcType=VARCHAR},
      </if>
      <if test="subclassid != null">
        #{subclassid,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bigid != null">
        #{bigid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>