<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.ProductidreplaceMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Productidreplace">
    <result column="flowid" jdbcType="BIGINT" property="flowid" />
    <result column="productid" jdbcType="VARCHAR" property="productid" />
    <result column="reproductid" jdbcType="VARCHAR" property="reproductid" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Productidreplace">
    insert into productidreplace (flowid, productid, reproductid, 
      editor, addtime)
    values (#{flowid,jdbcType=BIGINT}, #{productid,jdbcType=VARCHAR}, #{reproductid,jdbcType=VARCHAR}, 
      #{editor,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Productidreplace">
    insert into productidreplace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="reproductid != null">
        reproductid,
      </if>
      <if test="editor != null">
        editor,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="reproductid != null">
        #{reproductid,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>