<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.SearchkeylistMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Searchkeylist">
    <result column="searchkey" jdbcType="VARCHAR" property="searchkey" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Searchkeylist">
    insert into searchkeylist (searchkey)
    values (#{searchkey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Searchkeylist">
    insert into searchkeylist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="searchkey != null">
        searchkey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="searchkey != null">
        #{searchkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>