<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.ShopcatMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Shopcat">
    <result column="sessionid" jdbcType="VARCHAR" property="sessionid" />
    <result column="productid" jdbcType="VARCHAR" property="productid" />
    <result column="prodcolor" jdbcType="VARCHAR" property="prodcolor" />
    <result column="prodsize" jdbcType="VARCHAR" property="prodsize" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="deliveryprice" jdbcType="DOUBLE" property="deliveryprice" />
    <result column="addgold" jdbcType="DOUBLE" property="addgold" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="largess" jdbcType="VARCHAR" property="largess" />
    <result column="jpid" jdbcType="VARCHAR" property="jpid" />
    <result column="prodtype" jdbcType="INTEGER" property="prodtype" />
    <result column="prodflag" jdbcType="INTEGER" property="prodflag" />
    <result column="channelid" jdbcType="VARCHAR" property="channelid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="promotionsid" jdbcType="INTEGER" property="promotionsid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Shopcat">
    insert into shopcat (sessionid, productid, prodcolor, 
      prodsize, price, deliveryprice, 
      addgold, amount, largess, 
      jpid, prodtype, prodflag, 
      channelid, userid, promotionsid, 
      addtime)
    values (#{sessionid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, #{prodcolor,jdbcType=VARCHAR}, 
      #{prodsize,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{deliveryprice,jdbcType=DOUBLE}, 
      #{addgold,jdbcType=DOUBLE}, #{amount,jdbcType=INTEGER}, #{largess,jdbcType=VARCHAR}, 
      #{jpid,jdbcType=VARCHAR}, #{prodtype,jdbcType=INTEGER}, #{prodflag,jdbcType=INTEGER}, 
      #{channelid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{promotionsid,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Shopcat">
    insert into shopcat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sessionid != null">
        sessionid,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="prodcolor != null">
        prodcolor,
      </if>
      <if test="prodsize != null">
        prodsize,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="deliveryprice != null">
        deliveryprice,
      </if>
      <if test="addgold != null">
        addgold,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="largess != null">
        largess,
      </if>
      <if test="jpid != null">
        jpid,
      </if>
      <if test="prodtype != null">
        prodtype,
      </if>
      <if test="prodflag != null">
        prodflag,
      </if>
      <if test="channelid != null">
        channelid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="promotionsid != null">
        promotionsid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sessionid != null">
        #{sessionid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="prodcolor != null">
        #{prodcolor,jdbcType=VARCHAR},
      </if>
      <if test="prodsize != null">
        #{prodsize,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="deliveryprice != null">
        #{deliveryprice,jdbcType=DOUBLE},
      </if>
      <if test="addgold != null">
        #{addgold,jdbcType=DOUBLE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="largess != null">
        #{largess,jdbcType=VARCHAR},
      </if>
      <if test="jpid != null">
        #{jpid,jdbcType=VARCHAR},
      </if>
      <if test="prodtype != null">
        #{prodtype,jdbcType=INTEGER},
      </if>
      <if test="prodflag != null">
        #{prodflag,jdbcType=INTEGER},
      </if>
      <if test="channelid != null">
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="promotionsid != null">
        #{promotionsid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>