<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Sp_code_shengfenMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Sp_code_shengfen">
    <result column="flowid" jdbcType="INTEGER" property="flowid" />
    <result column="codeid" jdbcType="INTEGER" property="codeid" />
    <result column="sheng" jdbcType="VARCHAR" property="sheng" />
    <result column="shi" jdbcType="VARCHAR" property="shi" />
    <result column="direct" jdbcType="INTEGER" property="direct" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Sp_code_shengfen">
    insert into sp_code_shengfen (flowid, codeid, sheng, 
      shi, direct)
    values (#{flowid,jdbcType=INTEGER}, #{codeid,jdbcType=INTEGER}, #{sheng,jdbcType=VARCHAR}, 
      #{shi,jdbcType=VARCHAR}, #{direct,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Sp_code_shengfen">
    insert into sp_code_shengfen
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowid,
      </if>
      <if test="codeid != null">
        codeid,
      </if>
      <if test="sheng != null">
        sheng,
      </if>
      <if test="shi != null">
        shi,
      </if>
      <if test="direct != null">
        direct,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=INTEGER},
      </if>
      <if test="codeid != null">
        #{codeid,jdbcType=INTEGER},
      </if>
      <if test="sheng != null">
        #{sheng,jdbcType=VARCHAR},
      </if>
      <if test="shi != null">
        #{shi,jdbcType=VARCHAR},
      </if>
      <if test="direct != null">
        #{direct,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>