<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Sp_storageMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Sp_storage">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="barcodeid" jdbcType="INTEGER" property="barcodeid" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Sp_storage">
    insert into sp_storage (id, orderid, barcodeid, 
      editor, addtime, beizhu
      )
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{barcodeid,jdbcType=INTEGER}, 
      #{editor,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{beizhu,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Sp_storage">
    insert into sp_storage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="barcodeid != null">
        barcodeid,
      </if>
      <if test="editor != null">
        editor,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="beizhu != null">
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="barcodeid != null">
        #{barcodeid,jdbcType=INTEGER},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>