<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Symbianj2me_gourlcfgMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Symbianj2me_gourlcfg">
    <result column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="cmwap" jdbcType="VARCHAR" property="cmwap" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="imageurl" jdbcType="VARCHAR" property="imageurl" />
    <result column="urlversion" jdbcType="VARCHAR" property="urlversion" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Symbianj2me_gourlcfg">
    insert into symbianj2me_gourlcfg (xh, cmwap, title, 
      url, imageurl, urlversion, 
      orders)
    values (#{xh,jdbcType=VARCHAR}, #{cmwap,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, #{urlversion,jdbcType=VARCHAR}, 
      #{orders,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Symbianj2me_gourlcfg">
    insert into symbianj2me_gourlcfg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        xh,
      </if>
      <if test="cmwap != null">
        cmwap,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="imageurl != null">
        imageurl,
      </if>
      <if test="urlversion != null">
        urlversion,
      </if>
      <if test="orders != null">
        orders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="cmwap != null">
        #{cmwap,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="urlversion != null">
        #{urlversion,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>