<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Tb_provincesMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Tb_provinces">
    <result column="FlowID" jdbcType="INTEGER" property="flowid" />
    <result column="PROVINCESNAME" jdbcType="VARCHAR" property="provincesname" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Tb_provinces">
    insert into tb_provinces (FlowID, PROVINCESNAME)
    values (#{flowid,jdbcType=INTEGER}, #{provincesname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Tb_provinces">
    insert into tb_provinces
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        FlowID,
      </if>
      <if test="provincesname != null">
        PROVINCESNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=INTEGER},
      </if>
      <if test="provincesname != null">
        #{provincesname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>