<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.Ualib_checktrueuserclickMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Ualib_checktrueuserclick">
    <result column="flowno" jdbcType="INTEGER" property="flowno" />
    <result column="CheckUAKeyword" jdbcType="VARCHAR" property="checkuakeyword" />
    <result column="CheckType" jdbcType="INTEGER" property="checktype" />
    <result column="EnableFlag" jdbcType="INTEGER" property="enableflag" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Ualib_checktrueuserclick">
    insert into ualib_checktrueuserclick (flowno, CheckUAKeyword, CheckType, 
      EnableFlag)
    values (#{flowno,jdbcType=INTEGER}, #{checkuakeyword,jdbcType=VARCHAR}, #{checktype,jdbcType=INTEGER}, 
      #{enableflag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Ualib_checktrueuserclick">
    insert into ualib_checktrueuserclick
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowno != null">
        flowno,
      </if>
      <if test="checkuakeyword != null">
        CheckUAKeyword,
      </if>
      <if test="checktype != null">
        CheckType,
      </if>
      <if test="enableflag != null">
        EnableFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowno != null">
        #{flowno,jdbcType=INTEGER},
      </if>
      <if test="checkuakeyword != null">
        #{checkuakeyword,jdbcType=VARCHAR},
      </if>
      <if test="checktype != null">
        #{checktype,jdbcType=INTEGER},
      </if>
      <if test="enableflag != null">
        #{enableflag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>