<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.mobilemaster.dao.ZganalystMapper">
  <resultMap id="BaseResultMap" type="com.gene.mobilemaster.model.Zganalyst">
    <result column="accesstime" jdbcType="TIMESTAMP" property="accesstime" />
    <result column="pindaoname" jdbcType="VARCHAR" property="pindaoname" />
    <result column="yhsum" jdbcType="INTEGER" property="yhsum" />
    <result column="pvsum" jdbcType="INTEGER" property="pvsum" />
    <result column="pindaoid" jdbcType="INTEGER" property="pindaoid" />
    <result column="bigtype" jdbcType="VARCHAR" property="bigtype" />
  </resultMap>
  <insert id="insert" parameterType="com.gene.mobilemaster.model.Zganalyst">
    insert into zganalyst (accesstime, pindaoname, yhsum, 
      pvsum, pindaoid, bigtype
      )
    values (#{accesstime,jdbcType=TIMESTAMP}, #{pindaoname,jdbcType=VARCHAR}, #{yhsum,jdbcType=INTEGER}, 
      #{pvsum,jdbcType=INTEGER}, #{pindaoid,jdbcType=INTEGER}, #{bigtype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.mobilemaster.model.Zganalyst">
    insert into zganalyst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accesstime != null">
        accesstime,
      </if>
      <if test="pindaoname != null">
        pindaoname,
      </if>
      <if test="yhsum != null">
        yhsum,
      </if>
      <if test="pvsum != null">
        pvsum,
      </if>
      <if test="pindaoid != null">
        pindaoid,
      </if>
      <if test="bigtype != null">
        bigtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accesstime != null">
        #{accesstime,jdbcType=TIMESTAMP},
      </if>
      <if test="pindaoname != null">
        #{pindaoname,jdbcType=VARCHAR},
      </if>
      <if test="yhsum != null">
        #{yhsum,jdbcType=INTEGER},
      </if>
      <if test="pvsum != null">
        #{pvsum,jdbcType=INTEGER},
      </if>
      <if test="pindaoid != null">
        #{pindaoid,jdbcType=INTEGER},
      </if>
      <if test="bigtype != null">
        #{bigtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>